<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 运行Android 12L（API 32级）或更低版本的设备  -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!--运行Android 13（API 33级）或更高版本的设备-->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!--在Android 14（API 34级）上处理应用程序内的重新选择-->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <uses-permission android:name="android.permission.INTERNET" />


    <application>
        <activity
            android:name=".PersonalInfoActivity"
            android:exported="true" />
        <activity
            android:name=".view.MyInfoActivity"
            android:exported="false" />
    </application>

</manifest>